.form {
    width: 300px;
    flex: 1 1 auto;
    margin: 10px auto;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    background-color: rgba(123, 0, 255, 0.764);
}

.fields {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 5px 0px;
}

.fields > label {
    font-size: 14px;
    padding: 5px;
}

.fields > input {
    height: 15px;
    width: 75%;
    padding: 3px;
    border-radius: 5px;
    flex: 0 1 auto;
}

.button {
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px;
}

.button:hover {
    background-color: lightgray;
}