.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 500px;
  flex: 0 0 auto;
}

.form {
  width: 500px;
  flex: 0 0 auto;
  margin: 10px;
}

.activities {
  margin: 25px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}